{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow-sm">
                    <div class="card-header bg-dark text-white text-center">
                        <h4 class="mb-0">Log in to your Account</h4>
                    </div>
                    <div class="card-body">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
                            <div class="row form-group">
				   <div class="col">
                                {{ form.username.label_tag }}
				   </div>
				   <div class="col">
                                {{ form.username }}
				   </div>
                            </div>
                           <div class="row form-group">
				   <div class="col">
                                {{ form.password.label_tag }}
				   </div>
				<div class="col">
					{{ form.password }}
				</div>
                            </div>

<button class="btn btn-dark btn-block" type="submit">Login</button>
<input type="hidden" name="next" value="{{ next }}">
</form>

<br/>
{# Assumes you set up the password_reset view in your URLconf #}
<div class="container">
	<div class="row">
<div class="col"><p><a href="{% url 'register' %}">New here? Register as a user</a></p></div>
<div class="col"><p style="text-align: right"><a href="{% url 'password_reset' %}">Lost password?</a></p></div>
	</div>
</div>
		    </div>
		</div>
	    </div>
	</div>
    </div>
{% endblock %}
